body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #111;
}

#game-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

canvas {
    background-color: #000;
}

#scoreboard {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
}
